// General
$white: #fff;
$orange: #ff6600;
$red: #f00;

// Layout
$background-color: #fff;
$text-color: #222;
$border-color: #eee;
$footer-content-color: #bbb;

// Links
$anchor-color: #3466bf;

// Buttons

