<!DOCTYPE html>

<html lang="en-us">
    <head>
        @if (ViewBag.Title == null) {
            <title>hyve</title>
        } else {
            <title>@ViewBag.Title : hyve</title>
        }

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @*@Styles.Render("~/styles/main")*@

        @RenderSection("ScriptsHeader", false)
    </head>

    <body>
        <div id="main">
            <div id="header">
                header
            </div>
            <div id="content">
                @RenderBody()
            </div>
            <div id="footer">
                footer
            </div>
        </div>

        @RenderSection("ScriptsFooter", false)
    </body>
</html>
