@model Hyve.ViewModels.Home.PostListingViewModel

@using Hyve.Models;

@{ 
    ViewBag.Title = "Home";
}

<div class="listing">
    @foreach (Post post in Model.Posts) {
        <div class="item">
            <div class="title">@post.Title</div>
            <div class="info">(sub information)</div>
        </div>
    }
</div>
