@model Hyve.ViewModels.Home.PostListViewModel

@using Hyve.Models;

@if (Model.Posts.Count > 0) {
    <div class="post-list">
        @foreach (Post post in Model.Posts) {
            <div class="item">
                <div class="title">
                    
                </div>
                <div class="sub-info">
                </div>
            </div>
        }
    </div>
} else {
    <p>No posts have been made</p>
}
