@model Hyve.ViewModels.Home.PostViewModel

<div class="post-view">
    <h2 class="title">
        @Html.ActionLink(Model.Post.Title, "Post", "Home", new { id = Model.Post.Id }, null)
    </h2>
    <div class="by-line">
        (some byline info)
    </div>
    <div class="comments">

    </div>
</div>
