@model Hyve.ViewModels.Home.PostViewModel

<div class="post-view">
    <h2 class="title">@Model.Post.Title</h2>
    <div class="info">(some byline info)</div>
    <div class="content">@Model.Post.Content</div>
</div>
