@charset "utf-8";

body {
    color: #111;
    background-color: #fff;
}

.post-list {
}

.item {
    display: flex;
    flex-direction: row;
}

.item .number {
}

.item .content {
    display: flex;
    flex-direction: column;
}

.item .content .sub-info > div {
    display: inline;
}
